/* STRANGER PAGE CSS STYLES */

/* -- Navigation Bar -- */
ul { /* The bar itself */
	background-color: #263C3A;
}

ul li a { /*Inside of the buttons */
	background-color: #5E6764;
}

ul li a:hover, .dropdown:hover .dropbtn { /* Button hover color */
	background-color: #A5C1B2;
}



/* -- HTML * Body Styles -- */
html { /* Sets background color */
	background-image: linear-gradient(to bottom, #494136, #33312C);
}



/* Main Styles */
main h1#title { /* Title */
	text-shadow: #0EA960 4px 4px ;
}

#loopState div img { /* Loop state image settings */
	border: 5px solid #2B5357;
}

main div.content > img { /* Single planet image */
	border: 5px solid #2B5357;
}



/* -- POI Styles -- */
main div.content > div.poiImgLeft p, main div.content > div.poiImgRight p { /* POI text settings non-spoiler */
	margin-bottom: 120px;
}

main div.content > div > div.poiImgLeft p, main div.content > div > div.poiImgRight p { /* Removes double spacing */
	margin-bottom: 0;
}

main div.poiImgLeft img, main div.poiImgRight img, 
main div.poiImgLeft video, main div.poiImgRight video { /* POI image/video settings */
	border: 5px solid #2B5357;
}



/* -- Spoiler Styles -- */
.collapsible {
	background-color: #2B5357;
	border: 2px solid white;
}

.active, .collapsible:hover {
	background-color: #263C3A;
}

#spoiler.collapsible {
	width: 80%;
	margin: 120px auto;
}

div#simulation img { /* Simulation link image */
	display: block;
	border: 5px solid #2B5357;
	margin: 40px auto auto;
	width: 55%;
}

div#simulation h2 a:link { /* Simulation link text */
	display: block;
	margin: 40px auto;
	font-family: 'Josefin Sans', 'Century Gothic', sans-serif;
	font-size: 1.25em;
	color: #0EA960;
	text-align: center;
	text-shadow: #59E6AF 2px 2px;
	text-decoration: none;
}

div#simulation h2 a:hover {  /* Simulation link hover text */
	text-shadow: #59E6AF 2px 2px, #A5C1B2 0px 0px 10px;
}

div#simulation h2 a:visited, div#simulation h1 a:active {  /* Simulation link visited & active text */
	color: #0EA960;
	text-shadow: #59E6AF 2px 2px;
}





/* -- Footer Styles -- */
footer {
	background-color: #141A1C;
}