/* THE INTERLOPER PAGE CSS STYLES */


/* -- Navigation Bar -- */
ul { /* The bar itself */
	background-color: #1F3F56;
}

ul li a { /*Inside of the buttons */
	background-color: #5E849A;
}

ul li a:hover, .dropdown:hover .dropbtn { /* Button hover color */
	background-color: #6A6750;
}



/* -- HTML * Body Styles -- */
html { /* Sets background color */
	background-image: linear-gradient(to bottom, #74C09A, #3A837F, #186064);
}



/* Main Styles */
main h1#title { /* Title */
	text-shadow: #2C5B65 4px 4px ;
}

main > img, main div.content > img { /* Single planet image */
	border: 5px solid #2C5B65;
}

div.natPhenom video { /* Natural phenomena video border settings */
	border: 5px solid #2C5B65;
}



/* -- POI Styles -- */
main div.content > div.poiImgLeft p, main div.content > div.poiImgRight p { /* POI text settings non-spoiler */
	margin-bottom: 120px;
}

main div.content > div > div.poiImgLeft p, main div.content > div > div.poiImgRight p { /* Removes double spacing */
	margin-bottom: 0;
}

main div.poiImgLeft img, main div.poiImgRight img, 
main div.poiImgLeft video, main div.poiImgRight video { /* POI image/video settings */
	border: 5px solid #2C5B65;
}



/* -- Spoiler Styles -- */
.collapsible {
	background-color: #5E849A;
	border: 2px solid white;
}

.active, .collapsible:hover {
	background-color: #1F3F56;
}

#spoiler.collapsible {
	width: 60%;
	margin: 120px auto;
}



/* -- Footer Styles -- */
footer {
	background-color: #1F3F56;
}